#dashboard{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%;
    height: calc(100vh - 61px);
}

.cube{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 15px;
}

.bigNumber{
    font-size: 75px;
}
