.navigation{
    display: flex;
    align-items: center;
}

h1{
    margin: 0 0 !important;
    font-size: 50px !important;
}

a{
    text-decoration: none;
    font-size: 20px !important;
    margin-left: 15px;
    font-family: "Product Sans Regular" !important;
    transition: 500ms;
}

a:hover{
    text-decoration: underline;
    transition: 500ms;
}
