@font-face {
  font-family: "Product Sans Black Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black"),
      url("./components/fonts/ProductSans-Black.woff") format("woff");
}

@font-face {
  font-family: "Product Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"),
      url("./components/fonts/ProductSans-Regular.woff") format("woff");
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

*{
  font-family: "Product Sans Black" !important;
}

html{
  background-color: var(--background-color);
}

.box{
  background-color: rgba(255, 255, 255, 0.719);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(41, 41, 41, 0.082);
}
